In [3]:
from simple_salesforce import Salesforce
import pandas as pd
import numpy as np

In [8]:
sf = Salesforce(username='evelynl@accelentertainment.com', password='eell_2358', security_token='n5A25EGpQEhIbBBw7zp2PkoP')

In [26]:
pd.DataFrame(sf.query("SELECT id,AccountNumber,ShippingCity FROM Account")['records'])

,attributes,Id,AccountNumber,ShippingCity
0,"{'type': 'Account', 'url': '/services/data/v38...",0011I000006UrqCQAS,None,New York
1,"{'type': 'Account', 'url': '/services/data/v38...",0011I000006UrqDQAS,None,Toronto
2,"{'type': 'Account', 'url': '/services/data/v38...",0011I000006UrqEQAS,None,San Francisco
3,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2gNQAR,None,GULFPORT
4,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2gOQAR,None,SPRINGFIELD
5,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2gcQAB,None,CHICAGO
6,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2gdQAB,None,GLENWOOD
7,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2mUQAR,None,CHICAGO
8,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2tfQAB,None,QUINCY
9,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2tgQAB,None,COUNTRYSIDE
10,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2u9QAB,None,BRIDGEVIEW
11,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2uOQAR,None,EAST PEORIA
12,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2uPQAR,None,MONMOUTH
13,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2uQQAR,None,BELVIDERE
14,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2uRQAR,None,Bloomington
15,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2uYQAR,None,KEWANEE
16,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2uZQAR,None,FREEPORT
17,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2vCQAR,None,BURNHAM
18,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2vDQAR,None,SAVANNA
19,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2vEQAR,None,CHICAGO
20,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2vFQAR,None,EDWARDSVILLE
21,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2vVQAR,None,ANNAWAN
22,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2vWQAR,None,DOLTON
23,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2wEQAR,None,None
24,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2wIQAR,None,None
25,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2wJQAR,None,None
26,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2wNQAR,None,None
27,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2wXQAR,None,None
28,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2wcQAB,None,None
29,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux2wdQAB,None,None
...,...,...,...,...
1970,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4FvQAJ,None,Anna
1971,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4FzQAJ,None,CHICAGO
1972,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4G0QAJ,None,WAUKEGAN
1973,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4G1QAJ,None,CHICAGO
1974,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4G4QAJ,None,WAUKEGAN
1975,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4G9QAJ,None,COLUMBIA
1976,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GAQAZ,None,BARTELSO
1977,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GBQAZ,None,MENDOTA
1978,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GEQAZ,None,POSEN
1979,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GFQAZ,None,MCHENRY
1980,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GGQAZ,None,WASHINGTON
1981,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GHQAZ,None,Algonquin
1982,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GIQAZ,None,ZEIGLER
1983,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GJQAZ,None,Pekin
1984,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GKQAZ,None,CHICAGO
1985,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GOQAZ,None,GALESBURG
1986,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GTQAZ,None,HOFFMAN ESTATES
1987,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GUQAZ,None,OREGON
1988,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GVQAZ,None,MORTON GROVE
1989,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GWQAZ,None,Fox Lake
1990,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GYQAZ,None,Godfrey
1991,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GdQAJ,None,JACKSONVILLE
1992,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GeQAJ,None,BLUE ISLAND
1993,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GfQAJ,None,WINCHESTER
1994,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GiQAJ,None,CHICAGO
1995,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GjQAJ,None,PORT BYRON
1996,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GkQAJ,None,LAKEMOOR
1997,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GlQAJ,None,BASCO
1998,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GnQAJ,None,CHICAGO
1999,"{'type': 'Account', 'url': '/services/data/v38...",0011I00000Ux4GpQAJ,None,CHICAGO